= form_for @flash_message do |f|
  - if @flash_message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@flash_message.errors.count, "error")} prohibited this flash_message from being saved:"
      %ul
        - @flash_message.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend= "Meddelande"
    .large-8.columns
      .row
        = f.label :message
        = f.text_field :message
    .large-2.columns
      .field
        = f.label :site
        = f.select :site, options_for_select(FlashMessage::Site,f.object.site)
    .large-2.columns
      .field
        = f.label :message_type
        = f.select :message_type, options_for_select(FlashMessage::Options,f.object.message_type)
  .actions
    = f.submit 'Spara', class: 'button large right'
