= form_for @flash_message do |f|
  - if @flash_message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@flash_message.errors.count, "error")} prohibited this flash_message from being saved:"
      %ul
        - @flash_message.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :message
    = f.text_field :message
  .field
    = f.label :site
    = f.select :site, options_for_select(FlashMessage::Site,f.object.site)
  .field
    = f.label :message_type
    = f.select :message_type, options_for_select(FlashMessage::Options,f.object.message_type)
  .actions
    = f.submit 'Save'
