%h1
  Sparade meddelanden

.row
  .large-12.columns
    %table.expand
      %thead
        %th Meddelande
        %th Site
        %th Typ
        %th
        %th
        %th

      - @flash_messages.each do |flash_message|
        %tbody
          %tr
            %td= flash_message.message
            %td= flash_message.site
            %td= flash_message.message_type
            %td= link_to 'Editera', edit_flash_message_path(flash_message), class: 'button'
            %td= link_to 'Ta bort', flash_message, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button alert'
            %td
              :javascript
                he = { t: '#{flash_message.flash_type}', m: '#{flash_message.message}'}

              .button.green{ onclick: "publishMessage(this,'#{flash_message.channel}' ,he)"}
                = 'Publicera'


  %br

  = link_to 'Nytt meddelande', new_flash_message_path, class: 'button right'

#pubnub{ origin: ENV['PUBNUB_HOST'], ssl: 'off',
  pub: { key: ENV['PUBNUB_PUBLISH_KEY'] },
  sub: { key: ENV['PUBNUB_SUBSCRIBE_KEY'] } }

= javascript_include_tag "//cdn.pubnub.com/pubnub-3.5.4.min.js"

